@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff") format("woff"),
          url("../fonts/roboto.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff") format("woff"),
          url("../fonts/robotobold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff") format("woff"),
          url("../fonts/robotomedium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', 'Arial', sans-serif;
  color: #000000;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}

.button {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.main-header {
  background-color: #eeeeee;
}

.main-header > .container {
  display: flex;
  flex-direction: row;
}

.header-logo {
  width: 160px;
  height: 65px;
  margin-top: 49px;
  margin-right: 200px;
}

.header-logo:hover,
.haedr-logo:focus {
  opacity: 0.8;
}

.header-logo:active {
  opacity: 0.3;
}

.main-nav {
  display: flex;
  width: 600px;
  margin: 0;
  margin-top: 75px;
  margin-right: 40px;
  padding: 0;
  list-style: none;
}

.main-nav-item {
  margin-right: 46px;
}

.main-nav-item:last-child {
  margin-right: 0;
}

.main-nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.main-nav-link:hover {
  color: #fb565a;
}

.main-nav-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-basket {
  position: relative;
  width: 95px;
  margin-top: 75px;
}

.header-basket svg {
  position: absolute;
  bottom: 17px;
  left: 45px;
  fill: #a6a6a6;
}

.header-basket-link {
  margin-left: 85px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.header-basket-link:hover {
  color: #fb565a;
}

.header-basket-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.slider {
  position: relative;

  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-title {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-text {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}

.button {
  display: block;


  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;


  border-radius: 3px;
  border: none;
}

.button-learn-more {
  width: 240px;
  padding: 16px 0;
  background-color: #fb565a;
}

.button-learn-more:hover,
.button-learn-more:focus {
  background-color: #e74246;
}

.button-learn-more:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
